:root {
    --silver: #acacac;
    --grey: #e4e4e4;
    --yellow: #ffe733;
    --darkGrey: #4d4d4d;
}
html{
    font-size: 100%;
}

.container{
    width: auto;
    height: 100%;
    padding: 0.7rem;
}

.headerContainer{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.navContainer{
    justify-content: center;
    padding: 1vh 4vw 2vh 4vw;
}

#nameHeader {
    font-family: Sailec;
    font-size: clamp(15px, 1.5vw, 45px);
    text-decoration: none;
    color: var(--silver);
    padding: 2vh 1vw 0vh 1vw;
}

.job-heading{
    font-family: Sailec;
    font-size: clamp(35px, 1.5vw, 45px);
    text-decoration: none;
    color: var(--silver);
    font-style: bold;
    font-weight: 300;
}

.heading-2{
    font-family: Sailec;
    font-size: clamp(25px, 1.5vw, 25px);
    text-decoration: none;
    color: var(--black);
    font-style: bold;
}

.job-content-list {
   padding-left: 1vh;
}

.page-title {
    position: relative;
    width: max-content;
    padding: 0.7vh 0.7vw 0.7vh 0.7vw;
}

.fixed-page-highlight{
    background-image: linear-gradient(180deg, transparent 65%, var(--yellow) 0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: black;
    font-size: clamp(55px, 4vw, 65px);
    line-height: 1.15em;
    text-decoration: none;
    font-family: Sentinel;
}

.main-page-highlight{
    background-image: linear-gradient(180deg, transparent 65%, var(--yellow) 0);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    color: black;
    font-size: clamp(55px, 4vw, 65px);
    line-height: 1.15em;
    text-decoration: none;
    transition: background-size 0.4s ease-out;
    font-family: Sentinel;
}

.main-page-highlight:hover{
    background-size: 100% 100%;
    cursor: pointer;
}

.footerContainer {
    position: absolute;
    bottom: 0;
    width: auto;
    height: auto;
    margin: 0.7rem;
}

.page-title-break{
    border: 1px solid var(--grey);
    white-space: pre;
}

.page-content-break{
    border: 1px solid var(--grey);
    white-space: pre;
    margin-top: 3vh;
    width: 50%;
    max-width: 50%;
    min-width: 50px;
    justify-self: right;
    position: absolute;
}

.page-content-list {
    list-style: none;
    padding: 0.7vh 0.7vw 0.7vh 0.7vw;
    width: 50%;
    margin-bottom: 5vh;
}

.page-content-list-item {
    margin-bottom: 1vh;
    text-align: left;
    font-style: italic;
    font-family: Sailec;
}

.job-content-list-item {
    margin-bottom: 1vh;
    text-align: right;
    font-family: Sailec;
    margin-top: 0px;
}
.job-content-list-item-year{
    margin-top: -1vh;
    margin-bottom: 0px;
    text-align: right;
    font-style: italic;
        font-weight: 50;
       color: var(--darkGrey);
    font-family: Sailec;
}

.footerText{
    font-family: Sailec;
    font-size: clamp(15px, 1.5vw, 25px);
    text-decoration: none;
    color: var(--silver);main-page-highlight
}

#typewriteText {
    font-family: Sentinel;
    color: black;
    font-size: clamp(55px, 4vw, 65px);
    line-height: 1.15em;
    text-decoration: none;
    white-space: pre;
}

.highlight_box{
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0;
    z-index: -1;
    
}

#main-page-highlight.highlighted, .highlight_box{
    background-color: var(--yellow);
}

canvas {
    margin: auto;
    touch-action: none;  
}

@font-face {
    src: url("fonts/FontsFree-Net-Sentinel-Medium.ttf");
    font-family: Sentinel;
}

@font-face {
    src: url("fonts/SailecRegular.ttf");
    font-family: Sailec;
}

.animationWave{
    display: flex;
    position: relative;
}

main {
    overflow-x: hidden;
    display:flex;
    background: transparent;
}
