html{
    font-size: 100%;
}

a:link{
    text-decoration: none;
}

.contentContainer{
    width: 50%;
    padding: 0.5rem;
    background-color: blue;
}

.navText {
    font-size: 3em;
    font-family: Garamond;
    background-color: transparent;
}

.container{
    width: 50%;
    padding: 0.7rem;
}

.headerContainer{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

#nameHeader {
    font-family: Sailec;
    font-size: 1.5rem;
    text-decoration: none;
    color: grey;
}

.main-page-highlight{
    background-image: linear-gradient(180deg, transparent 65%, #fcf113 0);
    /* background-position: -0% 0%; */
    background-size: 0% 100%;
    background-repeat: no-repeat;
    color: black;
    font-size: 3em;
    line-height: 1.15em;
    text-decoration: none;
    transition: background-size 0.4s ease-out;
    font-family: Egyptienne;
    /* display: absolute; */
}

.main-page-highlight:hover{
    background-size: 100% 100%;
    cursor: pointer;
}

#footer {
    font-size: 0.5em;
    color: grey;
}


.highlight_box{
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0;
    z-index: -1;
    
}

#main-page-highlight.highlighted, .highlight_box{
    background-color: yellow;
}

@font-face {
    src: url("fonts/FontsFree-Net-Sentinel-Medium.ttf");
    font-family: Sentinel;
}

@font-face {
    src: url("fonts/SailecRegular.ttf");
    font-family: Sailec;
}