:root {
    --silver: #acacac;
    --grey: #e4e4e4;
    --yellow: #ffe733;
}
html{
    font-size: 100%;
}

a:link{
    text-decoration: none;
}

.container{
    width: 70%;
    padding: 0.7rem;
}

.headerContainer{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.navContainer{
    justify-content: center;
    padding: 1vw;
}

#nameHeader {
    font-family: Sailec;
    font-size: clamp(15px, 1.5vw, 45px);
    text-decoration: none;
    color: var(--silver);
}

.page-title {
    position: relative;
    width: max-content;
}

.page-content-list {
    list-style: none;
    font-style: italic;
    padding: 0.7rem;
    width: 50%;
}

.fixed-page-highlight{
    background-image: linear-gradient(180deg, transparent 65%, var(--yellow) 0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: black;
    font-size: clamp(35px, 4vw, 65px);
    line-height: 1.15em;
    text-decoration: none;
    font-family: Sentinel;
}

.main-page-highlight{
    background-image: linear-gradient(180deg, transparent 65%, var(--yellow) 0);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    color: black;
    font-size: clamp(35px, 4vw, 65px);
    line-height: 1.15em;
    text-decoration: none;
    transition: background-size 0.4s ease-out;
    font-family: Egyptienne;
}

.main-page-highlight:hover{
    background-size: 100% 100%;
    cursor: pointer;
}

.footerContainer {
    position: absolute;
    bottom: 0;
    width: auto;
    height: auto;
}

.page-title-break{
    border: 1px solid var(--grey);
    white-space: pre;
}

.page-content-break{
    border: 1px solid var(--grey);
    white-space: pre;
    margin-top: 3vh;
    width: 50%;
    justify-self: right;
    position: absolute;
}

.page-content-list-item {
    margin-bottom: 0.7rem;
    text-align: left;
}

#footerText{
    font-family: Sailec;
    font-size: clamp(15px, 1.5vw, 25px);
    text-decoration: none;
    color: var(--silver);
}

#typewriteText {
    font-family: Sentinel;
    color: black;
    font-size: clamp(35px, 4vw, 65px);
    line-height: 1.15em;
    text-decoration: none;
    white-space: pre;
}

.highlight_box{
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0;
    z-index: -1;
    
}

#main-page-highlight.highlighted, .highlight_box{
    background-color: var(--yellow);
}

@font-face {
    src: url("fonts/FontsFree-Net-Sentinel-Medium.ttf");
    font-family: Sentinel;
}

@font-face {
    src: url("fonts/SailecRegular.ttf");
    font-family: Sailec;
}